.Panel {
    background-color: $color-pink;
    padding: 10px 20px;
    border-radius: 4px;

    &__lists {
        float: left;
    }

    &__list {
        float: left;
        margin-right: 20px;

        a {
            color: #fff;

            &.selected {
                color: #fff;
                font-weight: bold;
            }
        }
    }

    &__total {
        float: right;
        color: #fff;
        border-left: 1px solid #fff;
        padding-left: 20px;
    }
}
