<div class="Navi">
    <dl>
        <dt class="Navi__title">カテゴリ</dt>
        <dd class="region-group"><div class="Loader">loading...</div></dd>
        <dd>
            <ul class="Navi__lists">
                <% categories.forEach(function(item){ %>
                    <li>
                        <a class="Navi__list bb-naviList" href="javascript:void(0);">ad</a>
                    </li>
                <% }); %>
            </ul>
        </dd>
    </dl>
</div>    
